<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poorfellow.agameofthings"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="17" /> 
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />
        <activity android:name="OpenHomeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.poorfellow.agameofthings.MainGameScreenFragment"
            android:label="MainGameScreenFragment"
            android:parentActivityName="EnterGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="EnterGameActivity" />
        </activity>
        <activity
            android:name="com.poorfellow.agameofthings.EnterGameActivity"
            android:label="@string/title_activity_enter_game"
            android:parentActivityName="OpenHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="OpenHomeActivity" />
        </activity>
        <activity android:name=".CreateGameActivity" android:label="Create Game"/>
        <activity android:name=".HostGameLobbyActivity" android:label="Game Lobby"/>
    </application>

</manifest>
